    /* body{
        background: linear-gradient(#2C8C99,#F7F3E3);
        height: 100vh;
    } */



/* .image-rotate{
    animation: rotating 6s linear;
}

@keyframes rotating {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.content{
    background-color: pink;
    width:100%;
    min-height: 5rem;
    font-size: 2rem;
    border: 0.1rem solid darkmagenta;
    margin-bottom: 0;
} */